APP_NAME=
APP_ENV=
APP_KEY=
APP_DEBUG=
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=sqlite

# SMS
SMS_PROVIDER=vonage

VONAGE_API_KEY=
VONAGE_API_SECRET=
VONAGE_SMS_FROM=ACMPortal

TWILIO_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM=
